<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="UTF-8" />
        <title>

        </title>
        {% block stylesheets %}
            {% stylesheets
            'bundles/baseball/css/bootstrap.min.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}

            <script src="{{ asset('bundles/baseball/js/jQuery-v2.1.3.js') }}"></script>
            <script src="{{ asset('bundles/baseball/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/baseball/js/angular.min.js') }}"></script>
            <script src="{{ asset('bundles/baseball/js/app.js') }}"></script>

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>
