{% extends '::base.html.twig' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-*">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Streak Group List</h3>
                </div>
                <div class="panel-body">

    {% for streak in streaks %}
        <strong>Name:</strong> {{ streak.firstname }} {{ streak.lastname }}
        <br />
        <strong>Entry name / ID:</strong> {{ streak.entryname }} // {{ streak.entryid }}
        <br />
        <strong>Balance:</strong> {{ streak.balance }}

        <br />
        <br />

    {% endfor %}


    </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}




